<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFAppEnvirSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WFAppEnvirSetup.Properties.Settings.ConnectionString"
            connectionString="Data Source=192.168.131.38;Persist Security Info=True;User ID=sa;Password=S3300859!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WFAppEnvirSetup.Properties.Settings>
            <setting name="batchPath" serializeAs="String">
                <value>C:\\WORKBATCH\\BatchLibrary\\Bin\\Conf\\Common.ini</value>
            </setting>
            <setting name="ediPath" serializeAs="String">
                <value>C:\WORKEDI\SWSK.EDI\bin\Release\Conf\Common.ini</value>
            </setting>
            <setting name="webPath" serializeAs="String">
                <value>C:\WORK\SWSK\SWSK_Frame\SWSK_Frame\WebSite\Conf\DB.xml</value>
            </setting>
            <setting name="batchDBName" serializeAs="String">
                <value />
            </setting>
            <setting name="ediDBName" serializeAs="String">
                <value />
            </setting>
            <setting name="webDBName" serializeAs="String">
                <value />
            </setting>
        </WFAppEnvirSetup.Properties.Settings>
    </userSettings>
</configuration>